body {
  background-color: rgb(218, 255, 218);
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
  color: darkgreen;
}

h1 +
h2 +
h4 +
.side-note {
  font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: white;
  padding: 0.5rem;
  background-color: darkgreen;
}

h3 {
  font-size: 1.125rem;
  color: darkgreen;
}

ul {
  text-align: left;
  color: white;
  background-color: darkgreen;
  padding: 1rem;
}

ol
.side-note {
  color: darkred;
}
    font-weight: bold;

}
