body {
    background-color: rgb(218, 255, 218);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    font-family: "Lucida Sans", sans-serif;
    color: darkgreen;
    text-align: left;
}

h1,
h2 {
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    font-weight: bold;
    color: white;
    background-color: darkgreen;
    padding-left: 2rem;
}

em {
    display: block;
    padding-left: 4rem;
}
