body {
    background-color: rgb(218, 255, 218);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    font-family: "Lucida Grande", "Lucida Sans", sans-serif;
    color: darkgreen;
    text-align: left;
}

em {
    display: block;
    padding-left: 4rem;
    padding-top: 2rem;
}

h1 {
    font-weight: bold;
    color: darkgreen;
    padding: 0rem;
}
.section-content-header {
    padding-bottom: 2rem;
    font-weight: 1000;
}

h2 {
    font-weight: bold;
    color: white;
    background-color: darkgreen;
    padding-left: 2rem;
    padding: 0.5rem;
}

.section-content {
    padding-bottom: 2rem;
}
