body {
    background-color: rgb(218, 255, 218);
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem; 
}

h1 {
    text-align: center;
    color: darkgreen;
    font-family:'Lucida Grande', 
    font-weight: bold;
}

h2 {
text-align: center;
color: white;
font-family: 'Lucida Grande';
font-weight: bold;
background-color: darkgreen;
padding: .5rem;
}

p {
    text-align: left;
    color: darkgreen;
    font-family: Lucinda Sans Regular;
}

h3 {
    text-align: left;
    color: darkgreen;
    font-family: 'Lucinda Grande';
}

ul {
    text-align: left;
    color: white;
    background-color: darkgreen;
    font-family: Lucinda Sans Regular;
    padding: 1rem;
    padding-left: 1rem;
}

ol {
    text-align: left;
    color: lightcoral;
    font-family: Lucinda Sans Regular;
}

h4 {
    text-align: canter;
    color: darkgreen;
    font-family: 'Lucinda Grande';
    font-weight: bold;
}

em {
    text-align: center;
    color: lightcoral;
    font-family: 'Lucinda Grande';
    font-weight: bold;

}